* {
    box-sizing: border-box;
    margin: 0;
}
#container{
	margin:0px;
	    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
height:33px;
	/* border:2px solid red; */
	width:100%;
	display:flex;
	/* align-items:center; */
	/* justify-content:space between; */
	    align-items: center;
            justify-content: space-between; 
	      padding-left: 15px; /* Adjust padding-left */
    padding-right: 15px;
		gap:5px;

}
.top-bar a{
	
	border:1px solid red;
	padding-left:2px;
	padding-right:2px;
	color:black;
	 text-decoration: none;
	 font-style: inherit;
    font-weight: 400;
    line-height: 1.42857143;
	    font-family: 'Alata', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
}
/* .top-bar a :hover{ */
	
	/* text-decoration:underline; */
	    /* color: #333; */

/* } */
.top-bar {
	
	border:2px solid yellow;
padding-left:5px;
}
#right-top {
	
	border:2px solid blue;
}
#right-top a{
	color:black;
	border:2px solid red;
		padding-left:2px;
	padding-right:2px;
	 text-decoration: none;
	 font-style: inherit;
    font-weight: 400;
    line-height: 1.42857143;
	font-size: 12px;
	text-transform: uppercase;
}
/* #right-top a:hover{ */
	/* text-decoration:underline; */
	    /* color: #333; */

/* } */
.top-bar a:hover {
    text-decoration: underline;
    color: #333;
}

#right-top a:hover {
    text-decoration: underline;
    color: #333;
}